<html>
<body>
<center>
<form action="http://localhost:9000/login" method="post">

<p> Enter the Car Company</p>
<p><input type = "text" name="BRAND"/></p>

<p> Enter the Car Model </p>
<p><input type = "text" name="CM"/></p>

<p> Enter the Model Year </p>
<p><input type = "text" name="MY"/></p>


<label for ="VEHICLECLASS">"Enter the Vehicle Class Type"</label>
<br>
<br>
<select name = "VC">
<option value ="COMPACT">COMPACT</option>
<option value ="SUV - SMALL">SUV-SMALL</option>
<option value ="MID-SIZE">MID-SIZE</option>
<option value ="MINICOMPACT">MINICOMPACT</option>
<option value ="SUBCOMPACT">SUBCOMPACT</option>
<option value ="TWO-SEATER">TWO-SEATER</option>
<option value ="FULL-SIZE">FULL-SIZE</option>
<option value ="STATION WAGON - SMALL">STATION_WAGON-SMALL</option>
<option value ="SUV - STANDARD">SUV-STANDARD</option>
<option value ="VAN - CARGO">VAN-CARGO</option>
<option value ="VAN - PASSENGER">VAN-PASSENGER</option>
<option value ="PICKUP TRUCK - STANDARD">PICKUP_TRUCK-STANDARD</option>
<option value ="MINIVAN">MINIVAN</option>
<option value ="SPECIAL PURPOSE VEHICLE">SPECIAL_PURPOSE_VEHICLE</option>
</select>
<br>
<br>
<label for ="FUELTYPE">"Enter your Fuel Type"</label>
<br>
<br>
<select name = "FT">
<option value ="Z">Z</option>
<option value ="X">X</option>
<option value ="E">E</option>
<option value ="D">D</option>
</select>
<br>
<p> Enter the ENGINE SIZE </p>
<p><input type = "text" name="ES"/></p>

<p> Enter the CYLINDERS </p>
<p><input type = "text" name="C"/></p>

<p> Enter the TRANSMISSION </p>
<p><input type = "text" name="T"/></p>

<p> Enter the FUELCONSUMPTION_CITY </p>
<p><input type = "text" name="FCC"/></p>

<p> Enter the FUELCONSUMPTION_HWY </p>
<p><input type = "text" name="FCHWY"/></p>

<p> Enter the FUELCONSUMPTION_COMB </p>
<p><input type = "text" name="FCCC"/></p>

<p> Enter the FUELCONSUMPTION_COMB_MPG </p>
<p><input type = "text" name="FCCMPG"/></p>

<p><input type="submit" value="submit"/></p>
</form>
<b>{{label1}}</b>
<br>
<br>
<b>{{label2}}</b>
<br>
<br>
<b>{{label3}}</b>
<br>
<b>{{label4}}</b>
<br>
<b>{{label5}}</b>
<br>
<b>{{label6}}</b>
<br>
<b>{{label7}}</b>
</center>
</body>
</html>